<div class="d-flex justify-content-center">
  <h1 style="font-family: 'Lobster', sans-serif; font-size: 7rem;">Manage Events</h1>
</div>
<nav>
  <div class="container d-flex justify-content-center pb-2">

    <a href="events/upcoming" class="btn btn-link text-decoration-none" style="font-family: 'Lobster', sans-serif; font-size: 1.5rem">
      Upcoming Events
    </a>

    <a href="addEvent" class="btn btn-link text-decoration-none" style="font-family: 'Lobster', sans-serif; font-size: 1.5rem">
      Add Event
    </a>

    <a href="notifications" class="btn btn-link text-decoration-none" style="font-family: 'Lobster', sans-serif; font-size: 1.5rem">
      Notifications
    </a>
            
    <a href="/login" (click)="logout()"  class="btn btn-link text-decoration-none" style="font-family: 'Lobster', sans-serif; font-size: 1.5rem">
      Logout
    </a>
  </div>
</nav>

<div class="container d-flex justify-content-center align-items-center mb-3">
  <div class="me-2 fw-bold">Sort By:</div>
  <select class="form-select w-auto me-3" [(ngModel)]="sortBy" (change)="onFilterChange()">
    <option value="id">Default</option>
    <option value="title">Title</option>
    <option value="time">Date & time</option>
  </select>

  <div class="me-2 fw-bold">Order:</div>
  <select class="form-select w-auto" [(ngModel)]="direction" (change)="onFilterChange()">
    <option value="ASC">Ascending</option>
    <option value="DESC">Descending</option>
  </select>
</div>

<div class="d-flex flex-column align-items-center overflow-auto" style="max-height: 100vh;">
<ng-container *ngFor="let item of eventResponse.content">
  <app-event-element [eventItem]="item"></app-event-element>
</ng-container>
</div>


<div class="d-flex justify-content-center mt-3">
  <nav aria-label="page navigation">
    <ul class="pagination">

      <li class="page-item" [class.disabled]="page === 0">
        <a class="page-link" href="javascript:void(0)" (click)="goToFirstPage()">
          <i class="fas fa-angles-left"></i>
        </a>
      </li>

      <li class="page-item" [class.disabled]="page === 0">
        <a class="page-link" href="javascript:void(0)" (click)="goToPreviousPage()">
          <i class="fas fa-angle-left"></i>
        </a>
      </li>

      <li
        class="page-item"
        *ngFor="let _ of [].constructor(eventResponse.totalPages); let pageIndex = index"
        [class.active]="page === pageIndex"
      >
        <a class="page-link" href="javascript:void(0)" (click)="goToPage(pageIndex)">
          {{ pageIndex + 1 }}
        </a>
      </li>

      <li class="page-item" [class.disabled]="isLastPage">
        <a class="page-link" href="javascript:void(0)" (click)="goToNextPage()">
          <i class="fas fa-angle-right"></i>
        </a>
      </li>

      <li class="page-item" [class.disabled]="isLastPage">
        <a class="page-link" href="javascript:void(0)" (click)="goToLastPage()">
          <i class="fas fa-angles-right"></i>
        </a>
      </li>

    </ul>
  </nav>
</div>
