<div class="card border-3" style="width: 60rem;"
[class.border]="eventItem.status == 'ACTIVE'"
[class.border-warning]="eventItem.status == 'CANCELLED'"
>

  <div class="card-body overflow-scroll">
    <h3 class="card-title text-nowrap fw-bold mb-1">
      <i class="fas fa-book"></i> {{eventItem.title}}
    </h3>
    <h5 class="card-subtitle text-secondary mb-1">
      <i class="fas fa-user-check"></i> {{eventItem.description}}
    </h5>
    <h6 class="card-subtitle fs-6 mb-1">
      <i class="fas fa-code"></i> {{eventItem.time}}
    </h6>
    <h6 class="card-subtitle fs-6">
      <i class="fas fa-user"></i> {{eventItem.location}}
    </h6>

    <div class="card-footer d-flex gap-2 justify-content-between align-items-center">
      <div class="d-flex gap-2">
        <div class="event-files">
          <ul class="list-unstyled" *ngIf="eventItem.files.length > 0">
            <li *ngFor="let file of eventItem.files">

              <div *ngIf="file.contentType.startsWith('image')">
                <img [src]="file.filePath" [alt]="file.fileName" class="event-image" />
              </div>

              <div *ngIf="file.contentType.startsWith('video')">
                <video [src]="file.filePath" controls class="event-video"></video>
              </div>

              <div *ngIf="!file.contentType.startsWith('image') && !file.contentType.startsWith('video')">
                <embed [src]="file.filePath" type="application/pdf" width="600" height="500">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 <!-- <div class="d-flex gap-2" *ngIf="!manage">
  <i (click)="onShowDetails()" class="fas fa-circle-info text-primary"></i>
  <i (click)="onBorrow()" class="fas fa-list-check text-primary"></i>
  <i (click)="onAddToWaitingList()" class="fas fa-heart text-danger"></i>
</div>

 <div class="d-flex gap-2" *ngIf="manage">
  <i (click)="onEdit()" class="fas fa-edit text-success"></i>
  <i (click)="onShare()" class="fas fa-share-nodes text-primary"></i>
  <i (click)="onArchive()" class="fas fa-archive text-danger"></i>
</div> -->

